svg, rect {
    height: 0px;
    width: 100px;
    fill: white;
}
td {
    text-align: center;
    width: 50px;
    vertical-align: top;
}
table {
    margin: auto;
    vertical-align: top;
}
h1{
    font: 25px arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}
#buttons{
    font: 25px arial, sans-serif;
    font-weight: bold;
    color: white;
    border: 300px;
    text-align: center;
}
th{
    font: 25px arial, sans-serif;
    font-weight: bold;
    color: white;
    position: center;
}
